@keyframes fadein {
    0% {
        opacity: 0;
    }
}

@keyframes fadeout {
    100% {
        opacity: 0;
    }
}

@keyframes unscalein {
    0% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes unscaleout {
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes scalein {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes scaleout {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes errorpopup {
    5%, 95% { transform: translateY(0px) }
}

@keyframes loadingring {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes swipeuparrowEmptytext {
    from {
        opacity: 0.5;
    }

    to {
        transform: translateY(-6px) scale(1.5);
    }
}

@keyframes slideupin {
    0% {
        transform: translateY(100%);
    }
}

@keyframes slideupout {
    100% {
        transform: translateY(100%);
    }
}

@keyframes slidedownin {
    0% {
        transform: translateY(-100%);
    }
}

@keyframes slidedownout {
    100% {
        transform: translateY(-100%);
    }
}

@keyframes fogfadein {
    0% {
        background-color: transparent;
    }
}

@keyframes fogfadeout {
    100% {
        background-color: transparent;
    }
}