@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
.floatings {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: fadein 0.3s;
          animation: fadein 0.3s;
}
.floatings:not(.showed) {
  display: none !important;
}
.floatings > * {
  position: fixed;
}
.floatings > *:not(.showed) {
  display: none !important;
}
.floatings > .loading {
  background-color: var(--normal-tone-bg);
  padding: 32px;
  border-radius: 16px;
}
.floatings > .dialog {
  width: calc(100% - 64px);
  max-width: 500px;
  box-sizing: border-box;
  background-color: var(--normal-tone-bg);
  padding: 16px;
  border-radius: 8px;
}
.floatings > .dialog .title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.floatings > .dialog .content {
  color: var(--foreground-tone-70);
  white-space: pre-line;
}
.floatings > .dialog .buttongroup {
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: -8px;
}
.floatings > .dialog .buttongroup button {
  box-shadow: none;
  background: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--accent-tone-100);
  font-weight: 600;
}
.floatings > .dialog .buttongroup button:hover {
  background: var(--accent-tone-30);
  cursor: pointer;
}
.floatings .discussionsList {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow-y: auto;
}
.floatings .discussionsList > .container {
  background-color: var(--background-tone-normal);
  min-height: calc(100% - 15vh);
  margin-top: 15vh;
  border-radius: 16px 16px 0 0;
}

.screens {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  height: 100%;
}
.screens > * {
  position: fixed;
}
.screens > *:not(.showed) {
  display: none !important;
}
.screens > .welcome,
.screens > .signin > .content,
.screens > .signup > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 32px;
  min-height: -moz-min-content;
  min-height: -webkit-min-content;
  min-height: min-content;
}
.screens > .welcome > .logo {
  margin-bottom: 32px;
  height: 64px;
  width: 64px;
}
.screens > .welcome > .buttongroup {
  margin-top: 48px;
  width: 210px;
}
.screens > .discussion {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.screens > .discussion .empty-text {
  display: none;
}
.screens > .discussion.empty > .inputbox button, .screens > .discussion.empty > .inputbox .textarea {
  display: none;
}
.screens > .discussion.empty .empty-text {
  display: flex;
}
.screens > .discussion > .messages {
  height: calc(100% - var(--inputbox-height));
}
.screens > .discussion > .messages .empty-text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Roboto Slab;
  font-size: 14px;
}
.screens > .discussion > .messages .empty-text > span {
  margin-top: 32px;
  text-align: center;
  width: 215px;
}
.screens > .discussion > .inputbox {
  --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --button-height: calc(var(--inputbox-height) - 16px);
  min-height: var(--inputbox-height);
  max-height: 25vh;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-tone-dark);
}
.screens > .discussion > .inputbox .empty-text {
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.75;
}
.screens > .discussion > .inputbox .empty-text img {
  height: 16px;
  -webkit-animation: swipeuparrowEmptytext 0.5s alternate infinite cubic-bezier(0, 0, 0.15, 1);
          animation: swipeuparrowEmptytext 0.5s alternate infinite cubic-bezier(0, 0, 0.15, 1);
}
.screens > .discussion > .inputbox > button, .screens > .discussion > .inputbox > .textarea {
  background-color: var(--background-tone-light);
  min-height: var(--button-height);
  min-width: var(--button-height);
  box-shadow: var(--shadow);
  width: var(--button-height);
  border-radius: calc((var(--button-height) / 34) * 6);
  display: flex;
  align-items: center;
  margin: 0 4px;
}
.screens > .discussion > .inputbox > button:not(button), .screens > .discussion > .inputbox > .textarea:not(button) {
  overflow: auto;
  width: 100%;
  height: auto;
  max-height: 100%;
  transition: margin 0.5s;
  z-index: 1;
  padding: 8px 12px;
  font-size: 14px;
  order: 0;
}
.screens > .discussion > .inputbox > button:not(button):empty:not(:focus)::after, .screens > .discussion > .inputbox > .textarea:not(button):empty:not(:focus)::after {
  content: "Type your message...";
  color: var(--foreground-tone-30);
}
.screens > .discussion > .inputbox > button:not(button):empty:focus::after, .screens > .discussion > .inputbox > .textarea:not(button):empty:focus::after {
  content: " ";
}
.screens > .discussion > .inputbox > button:not(button):not(:empty):focus, .screens > .discussion > .inputbox > .textarea:not(button):not(:empty):focus {
  margin-right: calc((var(--button-height) + 4px) * -1);
}
.screens > .discussion > .inputbox > button:not(button):not(:empty):focus ~ .emotes, .screens > .discussion > .inputbox > .textarea:not(button):not(:empty):focus ~ .emotes {
  opacity: 0.2;
}
.screens > .discussion > .inputbox > button:not(button):not(:empty):focus ~ .attachment, .screens > .discussion > .inputbox > .textarea:not(button):not(:empty):focus ~ .attachment {
  min-width: calc(var(--button-height) * 0.75) !important;
}
.screens > .discussion > .inputbox > button:not(button):not(:empty):focus ~ .attachment > img, .screens > .discussion > .inputbox > .textarea:not(button):not(:empty):focus ~ .attachment > img {
  transform: rotate(0deg);
}
.screens > .discussion > .inputbox > button:not(.textarea), .screens > .discussion > .inputbox > .textarea:not(.textarea) {
  transition: 0.5s;
  justify-content: center;
}
.screens > .discussion > .inputbox > button:not(.textarea):active, .screens > .discussion > .inputbox > button:not(.textarea).active, .screens > .discussion > .inputbox > .textarea:not(.textarea):active, .screens > .discussion > .inputbox > .textarea:not(.textarea).active {
  background-color: var(--accent-tone-50);
  box-shadow: none;
  transition: 0s;
}
.screens > .discussion > .inputbox > button:not(.textarea):active > img, .screens > .discussion > .inputbox > button:not(.textarea).active > img, .screens > .discussion > .inputbox > .textarea:not(.textarea):active > img, .screens > .discussion > .inputbox > .textarea:not(.textarea).active > img {
  filter: none;
  opacity: 1;
  transition: 0;
  transition: 0s;
}
.screens > .discussion > .inputbox > button:first-child, .screens > .discussion > .inputbox > .textarea:first-child {
  margin-left: 0;
}
.screens > .discussion > .inputbox > button:last-child, .screens > .discussion > .inputbox > .textarea:last-child {
  margin-right: 0;
}
.screens > .discussion > .inputbox > button > img, .screens > .discussion > .inputbox > .textarea > img {
  opacity: 0.75;
  transition: 0.5s;
  pointer-events: none;
}
.screens > .discussion > .inputbox .attachment > img {
  transform: rotate(-45deg);
}
.screens > .signup, .screens > .signin {
  height: 100%;
  width: 100%;
}
.screens > .signup > .actionbar, .screens > .signin > .actionbar {
  padding: 0 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--darker-tone-bg);
  height: 54px;
}
.screens > .signup > .actionbar > .back, .screens > .signin > .actionbar > .back {
  margin-left: -16px;
  width: 24px;
  height: 100%;
  padding: 0 16px;
}
.screens > .signup > .content, .screens > .signin > .content {
  box-sizing: border-box;
  max-height: calc(100% - 54px);
}
.screens > .signup > .content > .logo, .screens > .signin > .content > .logo {
  height: 48px;
  width: 48px;
  margin-bottom: 96px;
}
.screens > .signup > .content > form, .screens > .signin > .content > form {
  width: 250px;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes unscalein {
  0% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes unscalein {
  0% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes unscaleout {
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes unscaleout {
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes scalein {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes scalein {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes scaleout {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes scaleout {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes errorpopup {
  5%, 95% {
    transform: translateY(0px);
  }
}
@keyframes errorpopup {
  5%, 95% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes loadingring {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingring {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes swipeuparrowEmptytext {
  from {
    opacity: 0.5;
  }
  to {
    transform: translateY(-6px) scale(1.5);
  }
}
@keyframes swipeuparrowEmptytext {
  from {
    opacity: 0.5;
  }
  to {
    transform: translateY(-6px) scale(1.5);
  }
}
@-webkit-keyframes slideupin {
  0% {
    transform: translateY(100%);
  }
}
@keyframes slideupin {
  0% {
    transform: translateY(100%);
  }
}
@-webkit-keyframes slideupout {
  100% {
    transform: translateY(100%);
  }
}
@keyframes slideupout {
  100% {
    transform: translateY(100%);
  }
}
@-webkit-keyframes slidedownin {
  0% {
    transform: translateY(-100%);
  }
}
@keyframes slidedownin {
  0% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes slidedownout {
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slidedownout {
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes fogfadein {
  0% {
    background-color: transparent;
  }
}
@keyframes fogfadein {
  0% {
    background-color: transparent;
  }
}
@-webkit-keyframes fogfadeout {
  100% {
    background-color: transparent;
  }
}
@keyframes fogfadeout {
  100% {
    background-color: transparent;
  }
}
* {
  -webkit-appearance: none;
}

.loadingring {
  -webkit-animation: loadingring linear 0.5s infinite;
          animation: loadingring linear 0.5s infinite;
  -webkit-animation-timing-function: steps(8, end);
          animation-timing-function: steps(8, end);
  height: 24px;
  width: 24px;
}

.bubbles-illust {
  height: 128px;
  width: 128px;
}

.logo {
  background-size: cover;
}

.logo, .loadingring, .back {
  background-position: center;
  background-repeat: no-repeat;
}

.back {
  transition: 0.2s;
}
.back:active {
  background-color: var(--foreground-tone-10);
}

/*.errorpopup {
    position:fixed;
    z-index:9999;
    background:inherit;
    transform: translateY(-20px);
    animation: errorpopup 5s linear;
    height: 20px;
}*/
html, body {
  height: 100%;
}

html {
  --inputbox-height: 56px;
}

body {
  background-color: var(--normal-tone-bg);
  color: var(--foreground-tone-100);
  margin: 0;
  font-family: Source Sans Pro;
  touch-action: pan-y, pan-x;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab";
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 24px;
}

.buttongroup, form {
  display: flex;
  align-items: center;
}
.buttongroup:not(.vertical), form:not(.vertical) {
  flex-direction: column;
}
.buttongroup:not(.vertical) > *, form:not(.vertical) > * {
  margin: 4px 0;
  width: 100%;
}
.buttongroup:not(.vertical) > *:first-child, form:not(.vertical) > *:first-child {
  margin-top: 0;
}
.buttongroup:not(.vertical) > *:last-child, form:not(.vertical) > *:last-child {
  margin-bottom: 0;
}
.buttongroup.vertical button, .buttongroup.vertical input[type=submit], form.vertical button, form.vertical input[type=submit] {
  padding: 0 8px;
  margin: 0 4px;
}
.buttongroup.vertical button:first-child, .buttongroup.vertical input[type=submit]:first-child, form.vertical button:first-child, form.vertical input[type=submit]:first-child {
  margin-left: 0;
}
.buttongroup.vertical button:last-child, .buttongroup.vertical input[type=submit]:last-child, form.vertical button:last-child, form.vertical input[type=submit]:last-child {
  margin-right: 0;
}
.buttongroup button, .buttongroup input[type=submit], form button, form input[type=submit] {
  height: 40px;
}
.buttongroup > a, form > a {
  margin: 16px;
  font-weight: 400;
  font-size: 14px;
}

form > button, form input[type=submit] {
  margin-top: 24px;
}

button, input, .textarea {
  outline: none;
}

button, input[type=submit] {
  height: 40px;
  border: none;
  font-size: 14px;
  font-family: Source Sans Pro;
  box-shadow: var(--shadow);
  color: var(--foreground-tone-100);
  background-color: var(--lighter-tone-bg);
  border-radius: 4px;
  transition: 0.2s;
}
button.accent, input[type=submit].accent {
  background-color: var(--accent-tone-100);
  color: white;
}
button:active, input[type=submit]:active {
  background-color: var(--accent-tone-50);
  transition: 0s;
}

input, .textarea {
  resize: none;
  word-break: break-word;
  vertical-align: middle;
  white-space: pre-line;
  background-color: var(--darker-tone-bg);
  border: none;
  height: 40px;
  color: var(--foreground-tone-100);
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 16px;
  box-sizing: border-box;
}
input::-moz-placeholder, .textarea::-moz-placeholder {
  color: var(--foreground-tone-40);
}
input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  color: var(--foreground-tone-40);
}
input::placeholder, .textarea::placeholder {
  color: var(--foreground-tone-40);
}
input:-webkit-autofill, .textarea:-webkit-autofill {
  background-color: var(--darker-tone-bg) !important;
}

a {
  color: var(--accent-tone-100);
  -webkit-text-decoration: underline solid var(--accent-tone-50);
          text-decoration: underline solid var(--accent-tone-50);
  font-weight: 700;
  cursor: pointer;
}
a:link, a:visited {
  color: var(--accent-tone-70);
}